
body{

    background-image: url(../Images/resort2.jpg);
    background-size: cover;
    
}

#form{
    text-align: center;
    background-color: rgba(214, 231, 241, 0.6);
    font-family: 'Playfair Display', serif;
    padding: 1%;
    margin-left: 500px;
    margin-right: 500px;

}
h1{
    color: rgb(200, 210, 214);
    text-align: center;
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Playfair Display', serif;
}
#description{
    text-align: center;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}