nav{
    position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}


#navbar ul {
  
  
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li{
    color: #99E1D9;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#main-doc {
  position: absolute;
  margin-left: 350px;

  
  
}
#navbar a {
  display: block;
  padding: 10px ;
  color: #0c1618;   
  text-decoration: none;
  cursor: pointer;
}

#navbar h1{
    border: none;
}


h1{
    
    border-top: solid #0081af;
    font-family: 'Raleway', sans-serif;
}
h3{
    border-top: solid #99e1d9;
    font-family: 'Raleway', sans-serif;
}
p{
font-family: 'Raleway', sans-serif;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5%;
}
li{
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 815px) {
 
  #navbar ul {
    border: 1px solid #0081af;
    height: 207px;
    
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
    
  }
  
  code{
    position: relative;
    left: auto;
  }
}



